.navbar {
    background-color: magenta;
    padding: 15px;
}

.link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(240, 248, 255, 0);
    font-size: 20px;
    margin: 0 10px;
}